body {
    text-align: center;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

#myCarouse2 {
    background-color: cornflowerblue;
}

#myCarousel img {
    height: 350px;
    margin-top: 20px;
}

#Hulk {
    height: 375px;
    width: 400px
}

#Ironman {
    height: 375px;
    width: 400px;
}

#Thor {
    height: 375px;
    width: 400px;
}

#captain_america {
    height: 375px;
    width: 400px;
}

#Black_Widow {
    height: 375px;
    width: 400px;
}   
#Loki {
     height: 375px;
    width: 400px;
}
#gamora {
    height: 375px;
    width: 400px;
}
#captain_marvel{
    height: 375px;
    width: 400px;
}
}